$bg-dark-1: rgba(51, 54, 71, 255);
$bg-dark-2: rgba(37, 39, 52, 255);
$bg-shadow-1: rgba(133, 134, 144, 255);

$text-light-1: rgba(253, 253, 255, 255);
$text-light-2: rgba(155, 160, 179, 255);

$yellow-color: rgba(255, 255, 0, 255);
