@import "../../common/styles/variables.scss";

.experience-container {
    background-color: $bg-dark-1;
    padding: 6rem 0;
    overflow: hidden;

    .experience-main {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
